<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kursovayadada">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KursoVayaDaDa"
        tools:targetApi="31">
        <activity
            android:name=".user.DateActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".user.schedule.MainUserScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddSubjectActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".LoginActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".admin.AddScheduleInformationActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KursoVayaDaDa.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>